/* body*/
body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 16px;
    background-color: #ffffff
}
/* header*/
header {
    font-family: 'times-new-roman';
    padding: 1rem 2vw;
}
header span {
    margin: 0;
    color: #b35a20;
    font-size: 2.5rem;
}
header p {
    font-family: 'Spartan', sans-serif;
    margin: 0;
    color: #b35a20;
    font-size: 1.22rem;
}
/* navigation*/
nav {
    background-color: #3c7d82;
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    text-align: center;
    padding: .83rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
nav .active a {
    background-color: #b35a20;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #c86524, #ab551b)
}

nav a:hover {
    background-color: #303030;
}
/* main*/
main {
    padding: 1rem 2vw;
}
main h1 {
    font-family: 'Parisienne';
    color: #212121;
    font-size: 2.5rem;
    margin: .5rem 0 .8rem 0;
}
main h2 {
    color: #5c3a2e;
    margin-bottom: .2rem;
}
main p {
    color: #2f3133;
    margin: 0 0 .8rem 0;
    line-height: 150%;
}
main strong {
    color: #004748;
}
main a {
    color: #004748;
}
main a:hover {
    background-color: #eee;
}
/*image stuff here */
figure.wrap {
    margin: 100 10 10 50px;
    width: 60%;
    float: middle;
}
figure.wrap img {
    width: 60%;
    height: auto;
}
.figure.wrap {
    display: table;
    margin: auto;
}
.figure.wrap figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-size: .65rem;
}
/* footer*/
footer {
    border-top: solid #ccc 2px;
    text-align: center;
    color: #006373;
    font-size: .7rem;
    padding: 1rem 0;
}
footer a {
    color: #006373;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 200,
        'opsz' 24
}
/* form*/
.myForm fieldset {
    border: dotted 1px #007587;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 5rem;
    margin-left: 2rem;
}
.myForm [type=text], .myForm [type=tel], .myForm label {
    display: block;
    margin: .3rem;
}
.myForm [type="submit"] {
    border: solid 2px #303030;
    margin-bottom: 1rem;
    background-color: #de7600;
}
header, main, footer {
    max-width: 100rem;
    margin: 0 auto;
}
audio {
    padding: .5rem;
}
iframe {
    padding: .7rem;
}